.btn,
a.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  min-width: 100px;
  padding: 10px 14px;
  background-color: #07b7dd;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 3px;
  box-sizing: border-box;
  border: 2px solid #07b7dd;
  transition: background .3s ease-in-out;
  @include futura-demi();

  &:hover {
    background-color: #00224d;
  }
}