.get-started {
  padding: 20px;
  color: #fff;
  background-color: #00224d;
  text-align: center;
  font-size: 12px;
  line-height: 1.875;

  &__title {
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    color: #07b7dd;
    line-height: 1.333;
    @include futura-bold();

    span {
      display: block;
      color: #fff;
      @include futura-light();
    }
  }

  p {
    max-width: 400px;
    margin: 0 auto 30px;
  }
}
@media (min-width: $phone-landscape) {
  .get-started {

  }
}
@media (min-width: $tablet-portrait) {
  .get-started {

  }
}
@media (min-width: $tablet-landscape) {
  .get-started {
    padding: 45px;
    font-size: 16px;

    &__title {
      font-size: 36px;
    }
  }
}
@media (min-width: $desktop) {
  .get-started {

  }
}

