//fonts
@mixin caslon-bold() {
  font-family: "ACaslonPro-Bold", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@mixin caslon-regular() {
  font-family: "ACaslonPro-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@mixin futura-bold() {
  font-family: "FuturaPTBold", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@mixin futura-demi() {
  font-family: "FuturaPTDemi", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@mixin futura-light() {
  font-family: "FuturaPTLight", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin justify() {
  text-align: justify;

  &:after {
    display: inline-block;
    width: 100%;
    content: '';
  }
}

@mixin absoluteCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
}
@mixin absoluteCenterX() {
  position: absolute;
  left: 50%;
  transform: translateX( -50% );
}
@mixin absoluteCenterY() {
  position: absolute;
  top: 50%;
  transform: translateY( -50% );
}