.sign {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
  font-size: 12px;
  color: rgb(145, 145, 145);
  line-height: 1.5;
  letter-spacing: .3px;

  &__title {
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
    color: rgb(1, 1, 1);
    line-height: 1.333;
    @include futura-bold();
  }

  p {
    margin-bottom: 20px;
  }

  &__signature {
    padding: 10px 0;

    img {
      display: block;
      width: 150px;
      margin: 0 auto 10px;
    }

    strong {
      display: block;
      padding-top: 10px;
      margin-bottom: 10px;
      font-size: 12px;
      color: rgb(1, 1, 1);
    }

    a,
    a:visited {
      font-size: 12px;
      color: rgb(145, 145, 145);
      line-height: 1.5;
      letter-spacing: .3px;
      border-bottom: 1px solid transparent;
      transition: border .3s ease-in-out;

      &:hover { border-bottom-color: rgb(145, 145, 145) }
    }
  }
}
@media (min-width: $phone-landscape) {
  .sign {

  }
}
@media (min-width: $tablet-portrait) {
  .sign {

  }
}
@media (min-width: $tablet-landscape) {
  .sign {
    padding: 46px 20px 56px;
    font-size: 20px;

    &__title {
      font-size: 36px;
    }

    p {

    }

    &__signature {

      img {
        width: 175px;
        margin-bottom: 28px;
      }

      strong {
        font-size: 16px;
      }

      a { font-size: 14px; }
    }
  }
}
@media (min-width: $desktop) {
  .sign {

  }
}

