.websters-select {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 40px;
  padding: 0 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  font-size: 14px;
  color: rgb(76, 76, 76);
  line-height: 3.064;
  @include caslon-regular();


  &_opened {

    .websters-select__arrow {

    }
  }

  &__arrow{
    display: none;
  }

  &__item {
    width: 100%;
    height: 40px;
  }

  &_mobile {

    select {
      position: absolute;
      top: 0;
      bottom: -1px;
      left: 1px;
      width: 100%;
    }

  }

  &_custom {

    select {
      position: absolute;
      left: -100000px;
    }

  }

  &__popup {
    overflow: hidden;
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
    width: 100%;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    color: rgb(76, 76, 76);
    line-height: 3.064;
    @include caslon-regular();

    ul {
      z-index: 1;
    }

    li {
      position: relative;
      overflow: hidden;
      padding: 10px 15px;
      cursor: pointer;
      white-space: nowrap;

      &:hover,
      &.active {
        background: rgb(7, 183, 221);
      }
    }
  }
}

@media (min-width: $tablet-landscape) {
  .websters-select {
    height: 65px;
    padding: 0 27px;
    margin-bottom: 12px;
    font-size: 16px;

    &__popup {
      font-size: 16px;

      li {
        padding: 10px 27px;
      }
    }
  }
}