@font-face {
  font-family: "ACaslonPro-Bold";
  src: url("../fonts/ACaslonPro-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ACaslonPro-Regular";
  src: url("../fonts/ACaslonPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FuturaPTBold";
  src: url("../fonts/FuturaPTBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FuturaPTDemi";
  src: url("../fonts/FuturaPTDemi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FuturaPTLight";
  src: url("../fonts/FuturaPTLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
